<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here's your paste</title>
</head>
<body>
    <div>
        <textarea rows="20" cols="100" value="hello"></textarea>
    </div>
</body>
</html>